In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
prod_2019=pd.read_csv(r'C:\Users\user\PycharmProjects\CIV1498Project2\0-Raw_data\prod_2019.csv')
prod_2019.head()

,wa_num,compltn_event_seq,prod_period,UWI,area_code,formtn_code,Pool_seq,gas_prod_vol_m3,oil_prod_vol_m3,water_prod_vol_m3,cond_prod_vol_m3,prod_days,gas_prod_cum_m3,oil_prod_cum_m3,water_prod_cum_m3,cond_prod_cum_m3,project_code
0,70,0,201901,200C032D094A1300,1400,2900,B,8.3,0.0,0.8,0.1,2.0,2467.0,0.0,251.3,30.9,2
1,70,0,201904,200C032D094A1300,1400,2900,B,57.8,0.0,12.0,0.5,13.0,2524.8,0.0,263.3,31.4,2
2,70,0,201905,200C032D094A1300,1400,2900,B,95.1,0.0,33.6,1.6,24.0,2619.9,0.0,296.9,33.0,2
3,70,0,201906,200C032D094A1300,1400,2900,B,123.4,0.0,13.8,2.0,30.0,2743.3,0.0,310.7,35.0,2
4,70,0,201907,200C032D094A1300,1400,2900,B,113.6,0.0,19.2,1.9,29.0,2856.9,0.0,329.9,36.9,2

In [12]:
df_filter=prod_2019[['prod_period', 'gas_prod_vol_m3']]
df_filter.head()

   prod_period  gas_prod_vol_m3
0       201901              8.3
1       201904             57.8
2       201905             95.1
3       201906            123.4
4       201907            113.6

In [5]:
df_result=df_filter.groupby(by="prod_period").sum()
df_result.head()

             gas_prod_vol_m3
prod_period
201901             5213817.1
201902             4704358.5
201903             5223571.0
201904             4807638.7
201905             4561579.5