In [3]:
import pandas as pd

In [4]:
prod_2019=pd.read_csv('prod_2019.csv')
prod_2019

,wa_num,compltn_event_seq,prod_period,UWI,area_code,formtn_code,Pool_seq,gas_prod_vol_m3,oil_prod_vol_m3,water_prod_vol_m3,cond_prod_vol_m3,prod_days,gas_prod_cum_m3,oil_prod_cum_m3,water_prod_cum_m3,cond_prod_cum_m3,project_code
0,70,0,201901,200C032D094A1300,1400,2900,B,8.3,0.0,0.8,0.1,2.0,2467.0,0.0,251.3,30.9,2
1,70,0,201904,200C032D094A1300,1400,2900,B,57.8,0.0,12.0,0.5,13.0,2524.8,0.0,263.3,31.4,2
2,70,0,201905,200C032D094A1300,1400,2900,B,95.1,0.0,33.6,1.6,24.0,2619.9,0.0,296.9,33.0,2
3,70,0,201906,200C032D094A1300,1400,2900,B,123.4,0.0,13.8,2.0,30.0,2743.3,0.0,310.7,35.0,2
4,70,0,201907,200C032D094A1300,1400,2900,B,113.6,0.0,19.2,1.9,29.0,2856.9,0.0,329.9,36.9,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99821,39286,0,201912,102052608016W600,9021,5000,A,1779.3,0.0,953.8,0.8,9.5,1779.3,0.0,953.8,0.8,0
99822,39287,0,201912,103122608016W600,9021,5000,A,1869.8,0.0,860.4,0.7,13.5,1869.8,0.0,860.4,0.7,0
99823,39288,0,201912,102132608016W600,9021,5000,A,442.3,0.0,45.1,0.0,3.9,442.3,0.0,45.1,0.0,0
99824,39289,0,201912,103123008015W600,9021,5000,A,273.3,0.0,0.0,0.0,0.3,273.3,0.0,0.0,0.0,0
99825,39290,0,201912,103132608016W600,9021,5000,A,2267.9,0.0,1134.6,1.0,14.6,2267.9,0.0,1134.6,1.0,0

In [7]:
df_filter=prod_2019[['prod_period', 'gas_prod_vol_m3']]
df_filter

       prod_period  gas_prod_vol_m3
0           201901              8.3
1           201904             57.8
2           201905             95.1
3           201906            123.4
4           201907            113.6
...            ...              ...
99821       201912           1779.3
99822       201912           1869.8
99823       201912            442.3
99824       201912            273.3
99825       201912           2267.9

[99826 rows x 2 columns]

In [9]:
df_result=df_filter.groupby(by="prod_period").sum()
df_result

             gas_prod_vol_m3
prod_period
201901             5213817.1
201902             4704358.5
201903             5223571.0
201904             4807638.7
201905             4561579.5
201906             4605265.3
201907             4771919.2
201908             4732956.6
201909             4660372.9
201910             4838847.5
201911             5185548.6
201912             5508986.7